
.playing_cover {
    height: 20em;
    width: 20em;
    border-radius: 20em;
    overflow: hidden;
    margin: 0 auto;
    background-position: 50% 50%!important;
    background-size: cover!important;
    position: relative;
    
  }
  .playing_cover_disc {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    background-color: #fff;
    z-index: 2;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  
.rotate {
    animation: rotation 8s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }